// Mixins in here

.button-factory(@margin, @padding) {
    margin: @margin;
    padding: @padding;
    background-color: @eastern-blue;
    color: @white;
}

.plain-links() {
    a {
        color: @shark;
        text-decoration: none;
    }
}